@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import "./styles/variables.css";
@import "./styles/nav.css";
@import "./styles/indicator.css";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {

  min-height: 100%;
  height: 100%;
  width: 100%;

  font-size: 14px;

  font-family: var(--font-family);
}

body {
  box-sizing: border-box;

  background-color: var(--color-very-dark-blue);
  background-image: url("./images/bg-mobile.png");
  background-size: cover;

  color: var(--color-white);
}

@media screen and (min-width: 875px) {
  body {
    background-image: url("./images/bg-desktop.png");
    background-position: bottom center;
    background-size: 100vw;
    background-repeat: no-repeat;
  }
}

.attribution {
  margin: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 90%;
  padding: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.container > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 576px) {
  .main {
    flex-direction: row;
    align-items: center;
  }

  .container {
    flex-direction: row;
    align-items: flex-end;
  }

  .container > *:not(:last-child) {
    margin-bottom: 0px;
  }
}

footer {
  position: absolute;
  bottom: 0;
}

.attribution {
  margin: 1rem 2rem;
}