.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--color-dark-blue);

  box-sizing: border-box;
  height: 240px;
  padding: 35px;
  border-radius: 10px 100px 10px 10px;
}

.nav__logo {
  height: auto;
  width: clamp(150px, 50%, 200px);
}

.nav__icons-container {
  display: flex;
  flex-direction: row;
}

.nav__icons-container > * {
  background-color: var(--color-very-dark-blue);
  border-radius: var(--border-radius);
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center center;
}

.nav__icons-container > * + * {
  margin-left: 20px
}

.nav__icon {
  width: 25px;
  height: auto;
}